@tailwind base;
@tailwind components;
@tailwind utilities;

.light-grey-background {
    background-color: #444;
}

.grey-background {
    background-color: #333;
}

.item-font {
    font-weight: normal;
    font-family: Verdana,"Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.item-name {
    font-size: 14px;
    line-height: 19px;
}

.item-enchantment {
    font-size: 10px;
    line-height: 19px;
}

.item-line-item {
    font-size: 12px;
}

.item-set-title {
    color: #ffd100;
}

.item-set-equipped {
    color: #ebeec6;;
}

.item-poor {
    color: #9d9d9d;
}

.item-common {
    color: #fff;
}

.item-uncommon {
    color: #1eff00;
}

.item-rare {
    color: #0070dd;
}

.item-epic {
    color: #a83fee;
}

.item-legendary {
    color: #ff8000;
}

.item-details-hide {
    display: none;
}

.item-details-hide-left {
    margin-left: 60px;
}

.item-details-hide-right {
    margin-right: 60px;
}

.hoverable-div:hover + .item-details-hide {
    display: block;
    position: absolute;
}

.class-deathknight {
    color: #C41E3A;
}

.class-demonhunter {
    color: #A330C9;
}

.class-druid {
    color: #FF7C0A;
}

.class-evoker {
    color: #33937F;
}

.class-hunter {
    color: #AAD372;
}

.class-mage {
    color: #3FC7EB;
}

.class-monk {
    color: #00FF98;
}

.class-paladin {
    color: #F48CBA;
}

.class-priest {
    color: #FFFFFF;
}

.class-rogue {
    color: #FFF468;
}

.class-shaman {
    color: #0070DD;
}

.class-warlock {
    color: #8788EE;
}

.class-warrior {
    color: #C69B6D;
}
